/*Mise en forme de la bannière*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Mise en forme des liens*/

.navigation a {
    color: #000000
}

.navigation a:hover {
    color: #9d2222;
}

.voirplusnouveautés a {
    color: #000000;
}

.voirplusnouveautés a:hover {
    color: #ffffff;
}

.voirplusevents a {
    color: #000000;
}

.voirplusevents a:hover {
    color: #ffffff;
}

/* Mise en forme du body */

body {
    background: #620e0e;
    width: 100%;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

/*Mise en forme du header*/

header {
    width: 100%;
    height: 32%;
    background: #9d2222;
    width: 100%;
    height: 235px;
    border: 4px solid #000000;
}

.banner {
    display: flex;
    justify-content: space-between;
    height: 75%;
}

.banner img {
    margin-left: 20px;
    width: 170px;
    height: 165px;
}

.adresse {
    top: 1px;
    color: rgb(255, 255, 255);
}

.adresse h1 {
    margin: 5px;
    text-align: center;
    font-size: 18px;
}

.adresse h2 {
    margin: 28px;
    text-align: center;
    font-size: 38px;
}

.number {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}

.number img {
    width: 25px;
    height: 25px;
}

.socials {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
    color: rgb(255, 255, 255);
}

.socials-linkFB {
    margin-top: 50px;
    justify-content: center;
}

.FB img {
    width: 25px;
    height: 25px;
}

.FB {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #ffffff;
}

.GB img {
    width: 25px;
    height: 25px;
}

.GB {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #ffffff;
}

h4 {
    margin-left: 5px;
}

h3 {
    margin-left: 5px;
}

/*Mise en forme de la barre de navigation*/

.navigation {
    background: #620e0e;
    height: 26%;
    border: 4px solid #000000;
}

ul {
    width: 100%;
    height: 50px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    list-style: none;
}

li {
    padding: 8px;
    margin-top: 0px;
    border-radius: 20px;
    background: #ffffff;
    border: 2px solid black;
}

main {
    width: 100%;
    height: 80%;
    background-image: url(https://i.postimg.cc/BQfSW6bd/Image-background-PNG.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Evenements*/

.events {
    font-size: 30px;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0)
}

.imgevents {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.voirplusevents {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0)
}

/*Nouveautés*/

.nouveautés {
    font-size: 35px;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0)
}

.imgnouveautés {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.voirplusnouveautés {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0)
}

/*Copyright*/

h7 {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: end;
    text-align: center;
    color: rgb(255, 255, 255)
}

.copyright {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: end;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

@media (max-width :768px) {

    .adresse h2 {
        font-size: 25px;
    }

.navigation {
    font-size: 10px;
    justify-content: center;
}

.imgevents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-left: 65px;
}

.imgnouveautés {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-left: 120px;
}
}